@import '../../global.scss';

.contact{
     background-color: white; 
     display: flex;

     @include mobile{
         flex-direction: column;
     }
     
     .left{
         flex: 1;
         overflow: hidden;

         img{
             height: 100%;
         }
     }

     .right{
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;

         h2{
             font-size: 40px;
         }

         .email{
             display: flex;
             flex-direction: row;
             margin: 10px;

             h4{
                 margin: 0 5px;
             }
         }

         .Phoneno{
            display: flex;
            flex-direction: row;
            margin: 10px;

            h4{
                margin: 0 5px;
            }

        }

        .socialIcon{

            display: flex;
            align-items: center;

            a{
                .Linkedin{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            a{
                .Github{
                    width: 50px;
                    height: 50px;
                }
            }
  
        }

         form{
             width: 70%;
             height: 70%;
             display: flex;
             align-items: center;
             justify-content: space-around;
             flex-direction: column;

             input{
                 width: 300px;
                 height: 30px;
                 font-size-adjust: 14px;

                 @include mobile{
                    width: 200px;
                    height: 20px;
                }
             }

             textarea{
                 width: 300px;
                 height: 200px;
                 font-size: 14px;

                 @include mobile{
                    width: 200px;
                    height: 10 0px;
                }
             }

             button{
                 width: 150px;
                 height: 30px;
                 color: white;
                 background-color: crimson;
                 border: none;
                 border-radius: 10px;
                 font-weight: 500;
                 cursor: pointer;

                 &:focus{
                     outline: none;
                 }
             }

             span{
                 color: green;
             }
         }
     }
 }